<div class="col-md-8">
<div class="panel panel-primary" id="roboto">
  <h1> Question: {{model.question}} </h1>
  <h2> Author: {{model.author}} </h2>
  <p> Notes: {{model.note}} </p>
  {{new-review saveReview="saveReview" message=model}}
</div>
</div>
